/*
Base elements style
*/

* {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  color: #3a3a3a;
}

a {
  color: #fff;
  text-decoration: none;
}

h2 {
  color: #003399;
}

/*
Navigation
*/

.name {
  font-size: 1.25em;
}

.name,
.main-nav li {
  margin-top: 6px;
  background-color: #fff;
  text-align: center;
  margin-bottom: 5px;
}

.name a {
  color: #003399;
}

.main-nav a {
  font-size: 0.95em;
  color: #3acec2;
  text-transform: uppercase;
}

.main-nav a:hover {
  color: #093a58;
}

.name a,
.main-nav a {
  padding: 10px 15px;
  display: block;
}


/*
Base layout styles
*/

.container {
  padding: 0 1em;
}

.main-header {
  background-color: #3acec2;
  padding: 1.5em 0;
  text-align: center;
}

.main-footer {
  padding: 2em 0;
  background-color: #d9e4ea;
  text-align: center;
  min-height: 90px;
}


/*
Page Elements styles
*/

/*
Media Queries
*/

@media screen and (min-width: 769px) {

  .container {
    width: 80%;
    max-width: 1150px;
    margin: 0 auto;
  }

  .wrap {
    min-height: calc(100vh - 90px);
    padding-bottom: 5px;
  }

  .name,
  .main-nav li {
    display: inline-block;
  }

  .name {
    width: 240px;
  }

  .main-nav li {
    margin-right: 12px;
  }

  .feat-img {
    width: 300px;
    float: left;
    margin: 5px 25px 25px 0;
    padding: 10px;
    border: 1px solid #d9e4ea;
  }
}
